body	{
	margin: 0;
	}
.menu	{
	position: fixed;
	left: 0;
	right: 0;
	}

.menu ul	{
		list-style-type: none;
		background-color: rgba(0,0,0,0.4);
		margin: 12px 0;
		padding: 0px 0px;
		overflow: hidden;
		z-index: 5;
		}
.menu li	{
		float: left;
		position: absolute;
		z-index: 5;
		}
.menu li a, .dropbtn	{
			display: inline-block;
			text-align: center;
			color: white;
			width: 100px;
			padding: 14px 30px;
			text-decoration: none;
			font-style: normal;
			font-size: 1.2em;
			font-family: "Calibri";
			letter-spacing: 0.3px;
			transition-duration: 0.4s;
			z-index: 5;
			}
.menu li a:hover, .dropdown:hover .dropbtn	{
						background-color: rgba(255,255,255,1);
						color: black;
						z-index: 5;
						}
.menu .dropdown	{
		display: inline-block;
		float: left;
		z-index: 5;
		}
.menu .dropdown-content	{
			background-color: rgba(0,0,0,0.4);
			display: none;
			position: absolute;
			width: 160px;;
			padding: 0px 0px;
			margin: 0px 0;
			text-decoration: none;
			font-style: normal;
			font-size: 1.1em;
			font-family: "Calibri";
			letter-spacing: 0.3px;
			z-index: 5;
			}
.menu .dropdown-content a	{
				color: white;
				padding: 12px 16px;
				text-decoration: none;
				display: block;
				z-index: 5;
				}
.menu .dropdown:hover .dropdown-content	{
					display: block;
					z-index: 5;
					}
.menu .dropdown:hover .dropdown-content	a:hover	{
						display: block;
						background-color: rgba(255,255,255,1);
						color: black;
						transition-duration: 0.4s;
						z-index: 5;
						}
.container	{
		position: relative;
		width: 1024px;
		height: 768px;
		padding: 0px;
		margin: auto;
		margin-top: 80px;
		}
.container .ism-slider	{
			margin-left: auto;
			margin-right: auto;
			}
